<div class="market-title">
    {{name}}
</div>
<div class="market-term">
    {{term}}
</div>
<ul class="market-sub-menu" market-id="{{id}}">

</ul>
<div class="headline-img-left"><img src="{{leftImage}}"></div>
<div class="headline-img-right"><img src="{{rightImage}}"></div>