<div class="market-title">
    <img src="{{titleImage}}">
</div>
<div class="market-term">
    <img src="{{term}}">
</div>
<ul class="market-sub-menu {{color}}">
    <li class="active" btn-id="{{selectMenuID}}"><img src="{{selectMenu}}"></li>
    {{#each subMenus}}
        <li btn-id="{{id}}"><img src="{{submenu}}"></li>
    {{/each}}
</ul>
<div class="headline-img-left"><img src="{{leftImage}}"></div>
<div class="headline-img-right"><img src="{{rightImage}}"></div>