<section class="market-contents-top">
    <div class="sub-menu-title">{{title}}</div>
    <div class="sub-menu-contents">
        {{{summary}}}
    </div>
</section>
<section class="market-contents-middle" style="background-image: url({{marketImage}});"></section>
<section class="market-contents-bottom">
    <div class="market-construct">{{{constructTitle}}}</div>
    <div class="market-construct-contents">
        <p>
            {{{topic}}}
        </p>
        {{#each contents}}
            <p>
                <span class="pointword">{{pointWord}}</span>
                <span>{{mainSubject}}</span><br>
                {{{content}}}
            </p>
        {{/each}}
    </div>
    <div class="market-map">
        <img src="{{map}}" style="height: 300px">
    </div>
</section>

