<section class="market-contents-top">
    <div class="sub-menu-title">{{title}}</div>
    <div class="sub-menu-contents">
        {{{summary}}}
    </div>
</section>
<section class="market-contents-middle" style="background-image: url({{marketImage}})"></section>
<section class="market-contents-bottom">
    <div class="market-construct">{{{constructTitle}}}</div>
    <div class="market-construct-contents">
        {{{constructContents}}}
    </div>
    <div>
        <img src="{{map}}" style="height: 300px">
    </div>
</section>

