<div class="market-come">
    <span class="traffic">{{market}}</span>
    {{marketName}}
</div>
<div class="market-come-way">
    <p class="market-address">
        <span class="traffic">주소</span>
        {{address}}
    </p>
    <p class="market-bus">
        <span class="traffic">버스</span>
        {{{bus}}}
    </p>
    <p class="market-subway">
        <span class="traffic">지하철</span>
        {{{subway}}}
    </p>
    <p class="market-car">
        <span class="traffic">자동차</span>
        {{{car}}}
    </p>
    <p class="traffic-info">
        {{trafficInfo}}
    </p>
</div>
<img src="{{mapImage}}" id="map-image">
